*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(0,255,255,.2);
    width:90%;
    max-width:450px;
}

h1{
    margin-bottom:20px;
    color:#38bdf8;
}

p{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    text-align:center;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#0ea5e9;
}

#message{
    margin-top:20px;
    min-height:30px;
    font-weight:bold;
    color:#ef4444;
    animation: shake 0.3s;
}

@keyframes shake{
    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
    75%{transform:translateX(-5px);}
    100%{transform:translateX(0);}
}

#nextButton{
    display:none;
    margin-top:20px;
}
